doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/libs/jquery.js')
		script(src='/javascripts/libs/jquery-ui.js')
		script(src='/javascripts/main.js')
	body
	block content